<h1>New Interface</h1>
<%= form_for :interface, url: interfaces_path do |f| %>
  <p>
    <%= f.label :name%><br>
    <%= f.text_field :name%><br>
  </p>

  <p>
    <%= f.submit %><br>
  </p>
<% end %>
